* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(30, 30, 30);
}

h2 {
    margin: 5px;
    font-family: Arial;
    color: white;
    font-size: 2em;
}

div {
    width: 100%;
    display: flex;
}

input[type="text"] {
    margin: 10px;
    border: 0;
    flex-grow: 1;
    padding: 5px 10px 5px 10px;
}

button {
    margin: 10px;
    border: 0;
    padding: 5px 10px 5px 10px;
    width: 100px;
}