* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

nav {
    background-color: #F44336;
    color: white;
    display: flex;
    flex: 0 0 40px;
    height: 40px;
    justify-content: space-between;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

nav h2 {
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    transition: background-color .2s;
    line-height: 40px;
}

nav h2:hover {
    background-color: rgb(240, 90, 80);
}

nav h2:active {
    background-color: rgb(240, 90, 60);
}

nav input[type="text"] {
    border: 0;
    padding: 5px 3px 5px 2px;
    height: 10px;
    width: 200px;
    margin: 10px 10px 0px 0px;
    border-radius: 2px;
}

nav input[type="text"]:focus {
    outline: none;
}

main {
    flex: 1 0 0;
    background-color: rgb(30, 30, 30);
    overflow-y: auto;
}

main p {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: rgb(70, 70, 70);
    border-radius: 1px;
    cursor: pointer;
}

.modal[data-show="false"] {
    display: none;
}

.modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
}

.view[data-show="false"] {
    display: none;
}

.view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 350px;
    color: white;
    display: flex;
    background-color: rgb(30, 30, 30);
    z-index: 3;
}

.image {
    display: flex;
}

.info {
    flex-grow: 1;
    overflow-y: auto;
}

.name {
    margin: 5px 0px 10px 10px;
}

.episodes {
    margin: 10px 0px 10px 15px;
    list-style: none;
}

.episodes li {
    margin: 0px 0px 5px 0px;
}

.episodes span {
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 0px 5px;
    background-color: rgb(70, 70, 70);
    border-radius: 1px;
    color: white;
    cursor: pointer;
}

.player[data-show="false"] {
    display: none;
}

.player {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 50px;
    z-index: 3;
    color: white;
    background-color: rgb(30, 30, 30);
    padding: 10px;
    border-radius: 3px;
}

.player p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.torrent-info {
    display: flex;
    justify-content: space-between;
}

.blocker[data-enable="true"] {
    pointer-events: all;
}

.blocker {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5;
}